/* IMPORTANT INFORMATION  */

:root {
  --color-navy-blue: #2e2f42;
  --color-white: #ffffff;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-iris: #4d5ae5;
  --color-slate: #434455;
  --color-grey: #2e2f42;
  --color-ocean: #404bbf;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  margin: 0 auto;
}
.list {
  list-style: none;
  text-decoration: none;
}


.list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* HEADER */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}

.studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-grey);
}

.list .nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.list .nav:hover,
.list .nav:focus {
  color: var(--color-ocean);

}
.header-contact {
  font-style: normal;
  margin-left: auto;
}

.list:hover,
.list:focus {
  color: var(--color-ocean);
}

/* GEOMETRY  HEADER*/
.header {
  padding-top:  25.5px;
  padding-bottom: 25.5px;
  border-bottom: 1px solid var(--color-cornflower);
}
.navigation-list {
  display: flex;
  padding: 0%;
  gap: 40px;
  text-align: center;
}
.header-nav {
  display: flex;
}
.address-list {
  display: flex;
  padding: 0%;
  gap: 40px;
}
.header-conteiner {
  display: flex;
}
/* <!-- FIRST SECTION --> */


.section {
  background-color: var(--color-grey);
  padding: 188px 0;
  text-align: center;
}
.section-first {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
}
.button {
  color: var(--color-white);
  left: 636px;
  top: 428px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--color-iris);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin-top: 48px;
  border: transparent;
}
.button:hover,
.button:focus {
  background-color: var(--color-ocean);


  /* <!-- SECOND SECTION --> */
}
.section-text-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  padding-bottom: 8px;
}
.section-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* GEOMETRY-2  */
.section-text {
  padding-top: 120px;
}
.advantages-list {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 0%;
}
.advantages-item {
  flex-basis: calc((100%-72px) / 4);;
}
/* <!-- SECTION THREE --> */

.section-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--color-grey);
}
/* GEOMETRY 3 */
.section-three {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-worker {
  display: flex;
  padding: 0;
  padding-top: 72px;
}
.worker-item:not(:last-child) {
    padding-right: 24px;
}
/* <!-- SECTION FOUR --> */

.section-four {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;


}
.color {
  background-color: var(--color-white);
  width: 264px;

}
.color:not(:last-child) {
    margin-right: 24px;

}
.section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-grey);
  padding-bottom: 72px;

}
.section-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  padding-bottom: 8px;
}
.section-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
/* GEOMETRY 4 */
.list-team {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
  text-align: center;
}
.box {
  padding: 32px 60px;
  text-align: center;
}
/* <!-- YEAH, FOOTER  --> */

.done {
  background-color: var(--color-grey);
  padding: 100px 0;
}
.done-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
  padding-bottom: 17.5px;
}

.done-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}
.done-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  width: 264px;
}

/* PORTFOLIO */

/* <!-- SECTION 'BUTTONS ' --> */

.button-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding: 12px 24px;
}

.button-two:hover,
.button-two:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  cursor: pointer;
}

.buttons-item:not(:last-child) {
padding-right: 24px;
}

.section-portfolio {
  padding: 96px 0px 120px 0px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  padding-left: 0;
}
/* <!-- MAIN CONTENT LIKE PICTURES  --> */


.list-work {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  padding-bottom: 8px;
}
.list-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.exemples-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  row-gap: 48px;
  column-gap: 24px;
}
.cards {
  border-bottom: 1px solid var(--color-cornflower);
  border-left: 1px solid var(--color-cornflower);
  border-right: 1px solid var(--color-cornflower);
  padding: 32px 16px 32px 16px;
}
